#https://github.com/martinblech/xmltodict
xmltodict
# web server with Flask and Bootstrap4
pyFlaskBootstrap4>=0.5.1
flask-dropzone
# https://github.com/SmartDataAnalytics/OpenResearch
ConferenceCorpus>=0.0.26
# https://pypi.org/project/pylodstorage/
pylodstorage>=0.4.7
# http://pydispatcher.sourceforge.net/
PyDispatcher
# https://pypi.org/project/APScheduler/
APScheduler
# https://github.com/pyparsing/pyparsing
pyparsing>=3.0.9
# https://pypi.org/project/beautifulsoup4/
BeautifulSoup4~=4.11.1
# https://pypi.org/project/lxml/
lxml~=4.9.1
# pyjustpywidgets
# https://pypi.org/project/pyJustpyWidgets/
pyJustpyWidgets~=0.0.25
# https://pypi.org/project/justpy/
#justpy~=0.2.7
justpy~=0.4.2
# https://pypi.org/project/pyGenericSpreadSheet/
pyGenericSpreadSheet~=0.1.21